@import "../vars/footer_vars";

.footer_top{
  .menu-item{
    display:inline-block;
    &:not(:last-child):after {

        margin: 0 3px 0 8px;
        content: ' | ';

    }
    a{
      display:inline-block!important;
      text-transform: uppercase;
    }

  }
  .td-copyright-info{
    li{
      p{
        font-size: 11px;
        line-height: 1.7;
        font-weight: 500;
        color: #888;
      }
    }
  }
  .q_social_icon_holder{
    display:none;
  }
  .td-contact{
    &.td-phone{
      span{
        color:#fff;
        line-height: 40px;
        font-size: 25px;
        letter-spacing: 2px;
        i.fa{
          margin-right:10px;
        }
      }
    }
  }
}