@import "../vars/forms_vars";

.quform-1{
  .quform-label{
    color:#fff;
    text-transform: uppercase;
    font-weight: 500;
    .quform-required{
      color: #cc0101;
      font-weight: 500;
    }
  }
  .quform-field-text, .quform-field-email, .quform-field-textarea{
    border: 1px solid #393e46;
    background-color: rgba(35,58,75,.5);
    color:#ffffff;
  }
  .quform-button-submit-1_2{
    button {
      background-color: #02b0ea;
      color: #fff;
      text-transform: uppercase;
      &:hover {
        background-color: #81bf0b;
        color: #fff;
      }
    }
  }
}

.terekhindev-news-date-filter
{
  form {
    input[type=text]{
      width: 100%;
      margin: 0;
      padding: 15px 12px;
      border: 0;
      border-radius: 0;
      outline: 0;
      resize: none;
      font-size: 13px;
      line-height: 17px;
      background-color: #fff;
      color: #818181;
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      box-sizing: border-box;
    }
    button{
      height: 47px;
      box-sizing: border-box!important;
      float: right;
      white-space: nowrap;
      box-shadow: none;
      border: none;
      border-radius: 0 2px 0 0;
      outline: none;
      cursor: pointer;
    }
  }
}
div#ui-datepicker-div {
  z-index: 9999 !important;
}

