@import "../vars/forms_vars";

.quform-1{
  .quform-label{
    color:#fff;
    text-transform: uppercase;
  }
  .quform-field-text, .quform-field-email, .quform-field-textarea{
    border: 1px solid #393e46;
  }
}