@import "../vars/media_vars";

@media only screen and (min-device-width: 768px) {
  .visible-xs {
    display: none;
  }

}
@media only screen and(max-width:768px){
  .qode-slider-td .qode-slider1-owl .owl-dots{
    width: 210px;
    height: 60%;
    min-height: 110px;
  }
}
@media only screen and(max-width:1000px)
{

}
@media only screen and (max-width: 1060px) and (min-width: 1000px)
{
  .boxed div.section .section_inner, .carousel-inner .slider_content_outer, .container_inner, .full_width .parallax_content, .steps_holder_inner, div.grid_section .section_inner, nav.content_menu{
    width:768px;
  }
}
@media only screen and (max-width:1280px) and (orientation: landscape)
{
  .blog_holder{
    &.masonry {
      &.news-category-blog-holder{
        .blog_holder_grid_sizer{
          width:22%
        }
        .blog_holder_grid_gutter{
          width:3%
        }
      }
      article{
        width:22%;
      }
    }
  }
}
@media only screen and (min-width:1024px) and (max-width:1280px) and (orientation: landscape)
{
  aside {
    &.vertical_menu_area {
      width: 180px;
      padding: 10px 20px;
      .q_social_icon_holder {
        a > span{
        font-size:14px !important;
        border-width:2px !important;
          > i{
            font-size:14px !important;
          }
          >span{
            font-size:14px !important;
          }
        }
      }
      .q_social_icon_holder + .q_social_icon_holder{
        margin: 0 0 2px 1px!important;
      }
    }
    .widget{
      margin:0 0 30px;
      li{
        margin:0;
      }
      a{
        text-transform: uppercase;
        font-size:9px;
        line-height:25px;
        padding:0 2px;
        font-weight:600;
        letter-spacing:1px;
      }
    }
  }aside {
     &.vertical_menu_area {
       width: 180px;
       padding: 10px 20px;
       .q_social_icon_holder {
         a > span{
           font-size:14px !important;
           border-width:2px !important;
           > i{
             font-size:14px !important;
           }
           >span{
             font-size:14px !important;
           }
         }
       }
       .q_social_icon_holder + .q_social_icon_holder{
         margin: 0 0 2px 1px!important;
       }
     }
     .widget{
       margin:0 0 30px;
       li{
         margin:0;
       }
       a{
         text-transform: uppercase;
         font-size:9px;
         line-height:25px;
         padding:0 2px;
         font-weight:600;
         letter-spacing:1px;
       }
     }
   }
  .vertical_menu_enabled .content .container,
  .vertical_menu_enabled .full_width,
  .vertical_menu_enabled .q_slider,
  .vertical_menu_enabled .title_outer,
  .vertical_menu_enabled footer{
    padding-left:180px;
  }
  .vertical_area_background{
    width:180px;
  }
  nav.vertical_menu{
    margin:20px 0 0;
    > ul{
      > li{
        > a{
          padding-right:2px !important;
          padding-left:2px !important;
          font-size: 9px;
          line-height:25px;
        }
      }
    }

  }
  .vertical_menu_area_widget_holder{
    margin:20px 0 0;
  }
  .q_logo_vertical img.normal{
    height:83px;
  }

  h3, .h3, h3 a{
    font-size:14px;
    line-height:25px;
  }
  h5, .h5, h5 a, .q_icon_with_title .icon_text_holder h5.icon_title{
    font-size:12px;
    line-height: 17px;
    font-weight:800;
  }
  .qode-slider1-owl .owl-dots .owl-dot{
    font-size:12px;
  }
  .qode-slider1-owl .owl-dots{
    width:280px;
  }
  .qode-slider1-item{
    .qode-post-excerpt-holder{
      font-size: 13px;
      line-height: 1.6;
    }
  }
  .qode-slider1-owl .owl-dots .owl-dot .qode-slider1-pag-thumb{
    height:65px;
    width:65px;
  }
  .qode-btn.qode-btn-solid{
    font-size:12px;
    padding:7px 20px;
  }


}

@media only screen and (max-width: 1024px) {
  .qode-slider-td .qode-slider1-owl .owl-dots .qode-slider1-pag-thumb {
    display: none;
  }
  .qode-slider-td .qode-slider1-owl .owl-dots .qode-slider1-pag-info-holder{
    padding-left:0;
  }
}