@import '../vars/news_vars';
h2,h3,h4,h5,h6{
text-align:left;
}
.qode-slider1-owl {
  .owl-dots {
    /*width:450px;*/
    .owl-dot {
      color: #d8edf0;
    }
  }
}

.qode-slider1-item{
  .qode-post-excerpt-holder{
    font-weight: 500;
  }
}

.td-news-separator{
  span{
    text-transform: uppercase;
  }
  &>div{
    background-color: #cf4a37!important;
  }
}
.td-news-simple-separator{
    border-style: dotted;
}
.td-header{
  padding-bottom:21px;
  border-bottom:1px dotted #a9a9a9;
}
.qode-layout1-item {
  .qode-post-title{
    margin-top:10px;
    margin-bottom: 10px;
  }
}
.qode-btn
{
  &.qode-btn-icon{
    &.qode-btn-solid{
      &.td-all-news-btn{
        line-height:32px;
      }
    }
  }
  &.qode-btn-icon{
    &.td-all-news-btn{
      height: 32px;
      .qode-button-v2-icon-holder{
        font-size:22px;
      }
    }
  }
}
.td-date-in-grid-item{
  span{
    background-color: #fff;
    padding: 5px;
    font-weight: 600;
    font-size: 16px;
  }
}
.td-grid-item{
  .vc_grid-item-mini {
    box-shadow: 0 2px 2px 0 rgba(0, 6, 0, 0.2), 0 0 0 1px rgba(0, 0, 0, 0.01);
    background: #fafafa;
  }
}

.td-post-title-in-grid{
  h2{

  }
}
.qode-news-layout-title{
  /*border-bottom:1px dotted #cf4a37 !important;*/
}
.vc_custom_heading {
  a{
    &:hover
    {
      color:#cf4a37;
    }
    &:visited
    {
      color:#cf4a37;
    }
    &:focus
    {
      color:#cf4a37;
    }
  }
}
.qode-news-holder{
  .qode-post-info-date{
    a{
      font-size:13px;
      color:#8c8c8c;
      font-weight: 400;
    }
  }
}

.td-categories-list{
  margin-bottom:20px;
  &.td-vertical-list{
    a{
      display: table;
      margin:7px auto;
    }
  }
  a{
    text-transform: uppercase;
    display:inline-block;
    vertical-align: middle;
    color:#fff;
    letter-spacing: 1px;
    font-size:10px;
    margin:0 5px 10px;
    span{
      background-color: #cf4a37;
      display:block;
      position:relative;
      line-height: 22px;
      padding:0 5px;
    }
  }
}
.td-additional-post-info{
  margin-top:10px;
  padding-top:10px;
  border-top:1px dotted #a9a9a9;
  position: relative;
  top:10px;
  ul{
    list-style: none;
    li{
      color:#8d8d8d;
      display: inline-block;

      i{
        margin-right:5px;
      }
    }
    li+li{
      margin-left:10px;
    }
  }
}
.td-additional-post-info-layouts
{
  ul{
    list-style: none;
    li{
      display: inline-block;
      color:#8d8d8d;
      span{
        font-size: 13px;
        i{
          margin-right: 5px !important;
        }
      }


    }
    li+li{
      margin-left:10px;
    }
  }
  a{
    color:#8d8d8d !important;
    i{
      font-size: 14px !important;
      top:2px !important;
      color:#8d8d8d !important;
    }
  }

}
article {
  .td-single-post-text-inner{
    padding-top:0 !important;
  }
  .td-single-post-info {
    font-family: 'Oswald', 'sans-serif';
    text-transform: uppercase;
    color: #909090 !important;
    font-size: 17px;
    span {
      letter-spacing: 1px;
    }
    a {
      color: #fdfdfd !important;
      background-color: #999;
      padding: 0 5px;
      border: 1px solid #999;
      font-size: 15px;
      position: relative;
      top: -1px;
      &:hover{
        color: #fff !important;
        background: #cf4a37;
        border: 1px solid #cf4a37;
      }
    }

    i.fa.fa-comments{
      margin-right: 10px;
    }
    .dots{
      padding: 0 7px 0 4px;
      i{
        font-size:3px;
        vertical-align:middle;
      }
    }
  }
  .td-single-tags{
    a{
      display: inline-block;
      font-size: 12px;
      text-transform: uppercase;
      letter-spacing: .5px;
      border: 1px solid #dbdbdb;
      padding: 2px 20px;
      margin-right: 4px;
      margin-bottom: 4px;
      -webkit-transform: color .3s ease;
      -moz-transform: color .3s ease;
      transform: color .3s ease;
    }
  }
  .td-share-blog{
    .qode-share-title{
      display:inline-block;
      vertical-align: middle;
      margin:0 10px 0 0;
    }
    .social_share_list_holder{
      display:inline-block;
      vertical-align: middle;
      &>span{
        display:none;
      }
      a{
        position: relative;
        display: inline-block;
        width: 2em;
        height: 2em;
        line-height: 2em;
        vertical-align: middle;
        font-size:24px;
        border:2px solid #a9a9a9;
        padding:0;
        text-align: center;
        -webkit-border-radius: 50%;
        -moz-border-radius: 50%;
        border-radius: 50%;
        &:hover{
          border-color:#cf4a37;
          i{
           color:#cf4a37;
          }
        }

      }
    }
  }
  .td-post-info-bottom{
    margin-top:40px;
    padding-bottom:30px;
    border-bottom:1px dotted #a9a9a9;
    &:last-child{
      margin-bottom:40px;
    }
  }

}

  .td-grid-post{
    .post_text_inner{
      padding:20px 15px !important;
      p{
        text-align:left;
      }
    }
  }
.td-news-big-image-post{
  .qode-news-item-image-holder{
    width:100%;
    img{
      width:100%;
    }
  }
  .qode-post-title{
    a{
      background-color: rgba(255,255,255,0.8) !important;
    }
  }
  h2, h2 {
    a{
      line-height: 50px;
    }
  }
}
.td-news-grid-article{
  .qode-layout1-item{
    .qode-ni-content {
      box-shadow: 0px 2px 2px 0px rgba(0, 6, 0, 0.2), 0 0 0 1px rgba(0, 0, 0, 0.01);
      background: #fafafa;
      padding:10px;
      .qode-post-excerpt-holder{
        text-align: left;
        line-height: 23px;
      }
      .qode-post-info-date{
        text-align:center;
      }
    }
  }
}
.td-news-list{
  .qode-news-item-image-holder{
    display:none;
  }
  .qode-news-item{
    &.qode-layout2-item{
      padding-top: 11px!important;
      padding-bottom: 11px!important
    }
  }
}
.qode-slider-td{
  .qode-post-excerpt-holder{
    background-color:rgba(8, 36, 51, 0.8);
    padding:10px;
  }
  .qode-slider1-pag-title{
    font-size:14px;
    line-height:18px;
    font-weight:400;
  }
  .qode-slider1-pag-date{
    font-weight: 400;
    font-size: 13px;
    i{
      top:1px;
    }
  }
}