@import '../vars/news_vars';

.qode-slider1-owl {
  .owl-dots {
    /*width:450px;*/
    .owl-dot {
      color: #d8edf0;
    }
  }
}

.qode-slider1-item{
  .qode-post-excerpt-holder{
    font-weight: 500;
  }
}

.td-news-separator{
  span{
    text-transform: uppercase;
  }
  &>div{
    background-color: #bf0434!important;
  }
}

.td-header{
  padding-bottom:21px;
  border-bottom:1px dotted #a9a9a9;
}
.qode-layout1-item {
  .qode-post-title{
    margin-top:10px;
    margin-bottom: 10px;
  }
}
.qode-btn
{
  &.qode-btn-icon{
    &.qode-btn-solid{
      &.td-all-news-btn{
        line-height:32px;
      }
    }
  }
  &.qode-btn-icon{
    &.td-all-news-btn{
      height: 32px;
      .qode-button-v2-icon-holder{
        font-size:22px;
      }
    }
  }
}
.td-date-in-grid-item{
  span{
    background-color: #fff;
    padding: 5px;
    font-weight: 600;
    font-size: 16px;
  }
}
.td-grid-item{
  box-shadow: 0px 2px 2px 0px rgba(0, 6, 0, 0.2), 0 0 0 1px rgba(0, 0, 0, 0.01);
  background: #fafafa;
}