@import "../vars/pages_vars";
body{
  &.page-id-30631{
    &.vertical_menu_enabled{
      .full_screen_holder{
        padding-left:0;
      }
    }
  }
  &.page-template-landing_page{
    background-color: #083651;
    .td-contact{
      &.td-phone{
        &:hover{
          span {
            color: #02b0ea !important;
          }
        }
        span{
          color:#fff;
          line-height: 40px;
          font-size: 25px;
          letter-spacing: 2px;
          i.fa{
            margin-right:10px;
            color:#02b0ea;
            &.fa-phone{

            }
          }
        }
      }
    }
  }
}

.td-about-text-block{
    text-align:left;
    p{
      font-size: 13px;
      color: #fff;
      font-family: 'Roboto', sans-serif;
      letter-spacing: 0.2px;
      font-weight: 500;
      line-height: 20px;
    }
}
.td-counter-holder{
  p{
    font-family: Oswald,sans-serif;

  }
}

