@import "../vars/pages_vars";
body{
  &.page-id-30631{
    &.vertical_menu_enabled{
      .full_screen_holder{
        padding-left:0;
      }
    }
  }
}

.td-about-text-block{
    text-align:left;
    p{
      font-size: 13px;
      color: #fff;
      font-family: 'Roboto, sans';
      letter-spacing: 0.2px;
      font-weight: 500;
      line-height: 20px;
    }
}