.td-news-holder{
  position:relative;
  width:100%;

  .td-news-section-inner-holder{
    position: relative;
    width:100%;
    .td-news-wrapper {
      margin:-10px;
      opacity:1;
      -webkit-transition: opacity .2s ease-out .1s;
      -moz-transition: opacity .2s ease-out .1s;
      transition: opacity .2s ease-out .1s;
      .td-news-item {
        position: relative;
        vertical-align: top;
        display: inline-block;
        padding:10px;
        box-sizing: border-box;
      }
      &.td-news-column-1 {

      }
      &.td-news-column-2 {
        .td-news-item {
          width: 50%;
        }
      }
      &.td-news-column-3 {
        .td-news-item {
          width: 33.33%;
        }
      }
      &.td-news-column-4{
        .td-news-item {
          width: 25%;
        }
      }
    }
  }

    .td-news-section-1 {
      margin:-10px;
     .td-news-section-1-inner{
        vertical-align: top;
       padding:10px;
      }
      &.td-news-column-1 {
        .td-news-section-1-inner{
          .td-news-item{
            .td-news-item-image-holder{
              width:50%;
              display:inline-block;
            }
            .td-news-content{
              width:48%;
              display:inline-block;
              vertical-align: top;
              padding:10px 0 0 10px;
            }
          }
        }
      }
      &.td-news-column-2 {
        .td-news-section-1-inner{
          width:50%;
          display:table-cell;
          .td-news-section-inner-holder {
            .td-news-wrapper {
              &.td-news-column-4{
                .td-news-item {
                  width: 50%;
                }
              }
              &.td-news-column-3{
                .td-news-item{
                  width:50%;
                  &:first-child{
                    width:100%;
                    .td-news-item-image-holder{
                      overflow: hidden;
                      height: 200px;
                      margin-bottom: 10px;
                    }
                  }
                }
              }
              &.td-news-column-2{
                .td-news-item {
                  width: 100%;
                  .td-news-item-image-holder{
                    overflow: hidden;
                    height: 200px;
                    margin-bottom: 10px;
                  }
                }
              }
            }
          }
        }
      }
    }
    .td-news-section-2 {

    }

}
/*
.td-news-holder{
  position:relative;
  width:100%;
  .td-news-section-1{
    margin:-10px;
    .td-news-section-1-inner{
      vertical-align: top;
    }
    &.td-news-column-1{
      .td-news-section-1-inner{
        padding: 10px;
      }
      .td-news-section-1-inner:first-child{
        color:#004f8B;
      }
      .td-news-section-1-inner:last-child{
        display: none;
      }
    }
    &.td-news-column-2{
      .td-news-section-1-inner{
        width:49.8%;
        position: relative;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
        display: inline-block;
        padding: 10px;

        .td-news-section-inner-holder{
          margin:-10px;
          .td-news-item{
            padding:10px;
            position: relative;
            vertical-align: top;
          }
        }
        &.td-news-column-4,&.td-news-column-2{
          .td-news-item{
            width:45%;
            display: inline-block;
          }
        }
        &.td-news-column-3{
          .td-news-item{
            width:45%;
            display: inline-block;
            &:first-child{
              width:97.5%;
              .td-news-image{
                overflow: hidden;
                height: 254px;
              }
            }

          }
        }


      }

    }
  }
  .td-news-section-2{
    .td-news-section-inner-holder{
      font-size:0;
      margin:-10px;
      .td-news-item{
        padding:10px;
        position: relative;
        vertical-align: top;
      }
    }

      &.td-news-column-4{

        .td-news-item{
          width:23%;
          display:inline-block;
        }
      }

  }
}*/
