header.scrolled .header_top {
  background-color: #0a0a0a !important; }

.header_top .header-widget.widget_nav_menu ul.menu > li > a {
  color: #dd9933 !important; }
.header_top .header-widget a:hover {
  color: #dd9933 !important; }
